<li>
    <p>
        <% if(locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id )) { %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>"> <i class="fa-solid fa-trash"></i></a>
            </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <div class="comment-author-avatar-container">
                <img src="<%= comment.user.avatar || '/images/default-avatar.png' %>" 
                     alt="<%= comment.user.name %>" 
                     class="comment-author-avatar"
                     onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
                <div class="comment-author-avatar-fallback">
                    <%= comment.user.name.charAt(0).toUpperCase() %>
                </div>
            </div>
            <%= comment.user.name %>
        </small>
        <br>
        <small>
            <% if(locals.user) { %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <%= comment.likes.length %> Likes <i class="fa-sharp fa-regular fa-heart"></i>
                </a>
            <% } else { %>
                <%= comment.likes.length %> Likes <i class="fa-sharp fa-regular fa-heart"></i>
            <% } %>
        </small>
    </p>
</li>