<link rel="stylesheet" href="/css/user_profile.css">

<div class="profile-avatar-container">
    <img src="<%= user.avatar || '/images/default-avatar.png' %>" 
         alt="<%= user.name%>" 
         class="profile-avatar"
         onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
    <div class="profile-avatar-fallback">
        <%= user.name.charAt(0).toUpperCase() %>
    </div>
</div>
<hr>




<!-- //passport authentication -->


<% if(user.id == profile_user.id) { %>
        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST" >
            <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name %>" required >
            <input type="text" name="email" placeholder="Your email" value="<%=profile_user.email %>" required >
            <input type="file" name="avatar" placeholder="upload your profile image">
            <input type="submit" value="update">
        </form>
<% } else { %>

    <p><%= profile_user.name %></p>

    <p><%= profile_user.email %></p>

<% } %> 